*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

h3{
    background-color:darkslateblue;
    color:#fff;
    text-align: center;
    font-size:30px;
    font-weight:500;
    padding:20px 0px;
    margin-bottom:10px;
}

.container{
    width:1000px;
    padding:0px 80px;
    margin:0 auto;
}

.images img{
    width:100%;
}

.arrow i{
    font-size:45px;
    color:darkgray;
    transition: 0.4s ease;
}

.arrow i:hover{
    color:hsla(0, 0%, 66%, 0.438)
}

.arrow i:first-child{
    font-size:50px;
    float:right;
    position:absolute;
    top:55%;
    left:20%;
}

.arrow i:last-child{
    font-size:50px;
    float:right;
    position:absolute;
    top:55%;
    right:20%;
}